<div class="min-h-screen min-w-screen grid grid-cols-[1.75fr,8.25fr] bg-gray-100 drawer drawer-mobile">
    <app-landmark-list></app-landmark-list>
    <app-map></app-map>
    <div class="toast" style="z-index: 1001;">
        <div class="alert alert-info">
            <div>
                <span class="text-lg text-slate-100">Voeg locaties aan uw route toe om een route te plannen!</span>
            </div>
            <button type="button" class="btn btn-sm btn-circle  right-0 top-0"
                onclick="this.parentNode.parentNode.remove()">X</button>
        </div>
    </div>
</div>